.app {
   text-align: center;
}

.app-logo,.about-logo {
  width: 12%;
  pointer-events: none;
  margin-top:15px;
}

.about-logo {
  width:30%;
  margin-top: 25px;
}

.app-header {
  background-color: #f3f3f3;
/*  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
   
}

.App-link {
  color: #61dafb;
}

 
/* For Header */
.logo {
  flex: 1;
  align-items: flex-start;
}

.company-name {
  display: inline-flex;
  margin:2px 25px;
  color: #89428e;
  font-size: 1.7rem;
  font-weight: bold;
  
}


/*Menu*/
.menu {
  flex: 1;
 
}

.menu ul {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding:0px;
}

.menu ul li {
  margin-right:24px;
}

.menu li a {
  color: #363534;
  font-size: 18px;
  text-decoration: none;
}

/* Banner */
.banner, .project-banner {
  width:100%;
  max-height:50%;
}

/* About */
.container {
  max-width: 80%;
  margin:0 auto;
  padding: 0 auto; 
}

/* Project */
.project-container {
  text-align: left;
}

.project-container img {
  width: 100%;
}

.project-container h2 {
 
}

.project-container ul {
  padding:0px;
}

.project-container li {
  list-style: none;
  margin:15px 0px;
  color:purple;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  margin-top:30px;
}
.contact h4 {
  text-align: left;
  color: #363534;
  margin-bottom: 0px;
}

.contact ul {
  background-color: #fff8ff;
  padding:12px;
  width: auto;
}
.contact ul li {
  list-style: none;
  text-align: left;
}

/******************** For Desktop *********************/
@media (min-width: 576px) {
  .app-header {
    display: flex;
    flex-direction: row; 
  }

  .app-logo {
    width: 10%;
    pointer-events: none;
    margin-top:0px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Project Banner */
 .project-banner {
  margin-top:30px;
  width:auto;
  max-height:50%;
}

.project-container img {
  width: 100%;
}
  /* For Menu */
  .menu li a {
    font-size: 19px;
  }

  .menu ul li {
    margin-right:35px;
    margin-bottom: 15px;
  }

  /* For About Us */
  .about-logo {
    width:8%;
  }

  .container {
    max-width: 80%;
    margin:0 auto;
    padding: 0 auto; 
  }
  
  .project-container {
    text-align: left;
    width: 60%;
  }
  
  /* For Contact Us */
  
  .contact {
    display: flex;
    flex-direction: row;
    margin-top:30px;
  }

  .contact h4 {
    text-align: left;
    color: #363534;
    margin: 14px 35px;
  }
  
  .contact ul {
    padding:20px;
    width: 25%;
     
  }
}









